* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
.toolbox-cont {
  height: 5rem;
  background-color: #4b4b4b;
  display: flex;
  align-items: center;
}
.toolbox-cont > * {
  margin-left: 4rem;
  border-radius: 2px;
}
.toolbox-priority-cont {
  height: 3.5rem;
  width: 16rem;
  background-color: #3d3d3d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.action-btn-cont {
  height: 3.5rem;
  width: 8rem;
  background-color: #3d3d3d;
  display: flex;
}
.action-btn-cont > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 2rem;
  color: #d1d8e0;
}
.color {
  height: 1.3rem;
  width: 2.5rem;
  border-radius: 2px;
}
.lightpink {
  background-color: lightpink;
}
.lightgreen {
  background-color: lightgreen;
}
.lightblue {
  background-color: lightblue;
}
.black {
  background-color: black;
}
.action-btn-cont > *:hover {
  cursor: pointer;
  background-color: #2f3542;
}
.modal-cont {
  height: 50vh;
  width: 45vw;
  background-color: lightblue;
  position: absolute;
  top: calc((100vh - 50vh) / 2);
  left: calc((100vw - 45vw) / 2);
  display: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.textarea-cont {
  height: 100%;
  width: 75%;
  border: none;
  outline: none;
  background-color: #d2dae2;
  resize: none;
  padding: 2rem;
  font-size: 1.5rem;
}
.priority-colors-cont {
  height: 100%;
  width: 25%;
  background-color: #4b4b4b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.priority-color {
  height: 3rem;
  width: 55%;
  border-radius: 2px;
}
.border {
  border: 5px solid #d1d8e0;
}
.main-cont {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
}
.ticket-cont {
  height: 13rem;
  width: 16rem;
  background-color: #f1f2f6;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.ticket-color {
  height: 1rem;
}
.ticket-id {
  height: 2rem;
  padding: 0.6rem;
}
.task-area {
  height: calc(100% - 1rem - 2rem - 2rem);
  padding: 0.6rem;
  outline: none;
}
.ticket-lock {
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  color: #a5b1c2;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .modal-cont {
    width: 70vw;
    left: calc((100vw - 70vw) / 2);
  }
  .toolbox-cont > * {
    margin: 0 auto;
  }
  .toolbox-priority-cont {
    width: 14rem;
  }
  .action-btn-cont {
    width: 6rem;
  }
  .action-btn-cont > * {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .modal-cont {
    width: 90vw;
    top: calc((100vh - 40vh) / 2);
    left: calc((100vw - 90vw) / 2);
    flex-direction: column;
    height: 75%;
  }
  .textarea-cont {
    width: 100%;
  }
  .priority-colors-cont {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    height: 25%;
  }
  .priority-color {
    width: 17%;
  }
  .toolbox-cont > * {
    margin: 0 auto;
  }
  .toolbox-priority-cont {
    width: 12rem;
  }
  .action-btn-cont {
    width: 6rem;
  }
  .action-btn-cont > * {
    font-size: 1.5rem;
  }
}
